html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
   background-color: black;
}

.incrementers {
    margin-top: 20px;
}

.incrementers a {
    text-decoration: none;
    color: white;

    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.reset {
    background-color: coral;
}

.edit {
    background-color: lightseagreen;
}

.dims {
    margin-top: 20px;
    color: white;
}