html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.incrementers a {
    text-decoration: none;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    color: white;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reset {
    background-color: coral;
}

.edit {
    background-color: lightseagreen;
}